<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>3-layers-Todo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListTodo</display-name>
    <servlet-name>ListTodo</servlet-name>
    <servlet-class>controllers.ListTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTodo</servlet-name>
    <url-pattern>/ListTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTodo</display-name>
    <servlet-name>CreateTodo</servlet-name>
    <servlet-class>controllers.CreateTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTodo</servlet-name>
    <url-pattern>/CreateTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTodo</display-name>
    <servlet-name>DeleteTodo</servlet-name>
    <servlet-class>controllers.DeleteTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTodo</servlet-name>
    <url-pattern>/DeleteTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTodo</display-name>
    <servlet-name>UpdateTodo</servlet-name>
    <servlet-class>controllers.UpdateTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTodo</servlet-name>
    <url-pattern>/UpdateTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTodo</display-name>
    <servlet-name>EditTodo</servlet-name>
    <servlet-class>controllers.EditTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTodo</servlet-name>
    <url-pattern>/EditTodo</url-pattern>
  </servlet-mapping>
</web-app>